/* External Fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* Reset Css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

/* CSS Variables */

:root {
  --primary-color: #FB6910;
  --light-orange: #FBF7F4;
  --primary-gray: #8A99B6;
  --secondary-gray: #E5E5E5;
  --primary-dark-gray: #526280;
  --primary-white: #FFF;
  --secondary-white: #F6EFE9;
}

/* General Styling */

body {
  font-family: 'Lato', sans-serif;
  background: var(--secondary-gray);
  color: var(--primary-gray);
  line-height: 1rem;
}

/* Utilities */

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 50px;
}

.container-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  border-radius: 5px;
  padding: 10px 15px;
  border: solid 1px var(--primary-color);
}

.btn:hover {
  cursor: pointer;
}

.text-primary {
  color: var(--primary-color);
}

.text-bold {
  font-weight: bold;
}

/* 12 px when 12 REM */

.text075 {
  font-size: 0.75rem;
}

/* 14 px when 16 REM */

.text0875 {
  font-size: 0.875rem;
}

.bg-white {
  background: var(--primary-white);
}

.bg-secondary-white {
  background: var(--secondary-white);
}

.inline-block {
  display: inline-block;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light-orange);
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

/* Header Styling */

.header .container section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .container p {
  margin-left: 20px;
}

.header .circle {
  margin-left: 20px;
  margin-right: 10px;
}

.header .circle p {
  margin: 0;
}

/* Footer Styling */

.footer p {
  margin: 10px 0px;
}
